* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  flex: 1 0 5vh;
}

main {
  flex: 1 0 95vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #e6ecf7;
  padding: 2em;
}

main p {
  max-width: 40em;
  font-size: calc(1vw * 2);
}

main {
  height: 100%;
  background: url('shore.jpg') no-repeat center center fixed;

  background-size: cover;
  z-index: -100;
  /* filter: grayscale(1); */
  /* filter: brightness(50%); */

  animation: paintWallpaper 8s;
}

@keyframes paintWallpaper {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50;
  }
  100% {
    opacity: 100;
  }
}

@keyframes enterContent {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 50;
  }
  100% {
    opacity: 100;
  }
}
