* {
  text-align: center;
  font-family: sans-serif;
  color: white;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 0 100px;
  background: rgb(184, 0, 0);
}

footer {
  flex: 0 0 80px;
  background: rgb(0, 0, 148);
}

main {
  flex: 1 0 calc(100vh - 180px);
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
}

section h2 {
  color: black;
}

section:first-child {
  flex: 1;
  background-color: hsl(60, 100%, 84%);
}
section:last-child {
  flex: 1;
  background-color: hsl(209, 100%, 77%);
}

@media (orientation: portrait) {
  main {
    flex-direction: column;
  }
}

@media (max-height: 700px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 0 100vh;
  }
}
