<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="main.css" />
    <script src="https://unpkg.com/vue@2"></script>
  </head>
  <body>
    <header>
      <h1>Computed</h1>
      <p>Values cached</p>
    </header>
    <main>
      <div id="app">
        <p>Date: {{date}}</p>
        <p>
          Locale:
          <template v-for="(val, key) in locales">
            <input
              type="radio"
              v-bind:id="key"
              v-bind:value="val"
              v-model="localeCode"
            />
            <label v-bind:for="key">{{key}}</label>
          </template>
        </p>
        <p><span class="hlb">{{localizedDate}}</span></p>
      </div>

      <script>
        const standardLocales = {
          English: 'en-US',
          German: 'de-DE',
          Arabic: 'ar-EG',
          Japanese: 'ja-JP-u-ca-japanese',
        };
        var app = new Vue({
          el: '#app',
          data: {
            date: new Date(),
            locales: standardLocales,
            localeCode: 'de-DE',
          },
          computed: {
            localizedDate: function () {
              return this.date.toLocaleString(this.localeCode);
            },
          },
        });
      </script>
    </main>

    <!--- Code for display-->
    <pre class="code-display">Put something here</pre>

    <script src="main.js"></script>
    <div class="next-lesson">
      <a href="watcher.html">Next 🡆 Watcher</a>
    </div>
  </body>
</html>
