<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="main.css" />
    <script src="https://unpkg.com/vue@2"></script>
  </head>
  <body>
    <header><h1>Text &amp; HTML Content</h1></header>
    <main>
      <div id="app">
        <label>Text:</label>
        <div v-text="content"></div>
        <label>HTML:</label>
        <div v-html="content"></div>
        <textarea v-model="content">hello</textarea>
      </div>

      <script>
        var app = new Vue({
          el: '#app',
          data: {
            content: 'generic text',
          },
        });
      </script>
    </main>

    <!--- Code for display-->
    <pre class="code-display">
&lt;div id="app">
  &lt;label>Text:&lt;/label>
  &lt;div <span class='hl'>v-text="content"</span>>&lt;/div>
  &lt;label>HTML:&lt;/label>
  &lt;div <span class='hl'>v-html="content"</span>>&lt;/div>
  &lt;textarea <span class='hl'>v-model="content"</span>>hello&lt;/textarea>
&lt;/div>

&lt;script>
  var app = new Vue({
    el: '#app',
    data: {
      <span class='hl'>content</span>: 'generic text',
    },
  });
&lt;/script></pre>
    <script src="main.js"></script>
    <div class="next-lesson"><a href="for.html">Next 🡆 For</a></div>
  </body>
</html>
