<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="main.css" />
    <script src="https://unpkg.com/vue@2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="next-lesson"><a href="form.html">Next &#10140; Form</a></nav>

    <header>
      <h1>For</h1>
      <p>For loops can iterate arrays and objects as well as generate numbers.</p>
    </header>
    <main>
      <div id="app">
        <ul>
          <li v-for="(item, i) in items">[{{i}}] {{item}}</li>
          <li><span v-for="n in 5" v-if="n != 3">{{n}} </span></li>
        </ul>

        <template v-for="(val, key) in obj">
          <label>{{ key }}</label>
          <span>&#10140; Created by {{val.by}} in {{val.date}}.</span>
          <br />
        </template>
      </div>

      <script>
        var app = new Vue({
          el: '#app',
          data: {
            items: ['Lee', 'Lie', 'Linus'],
            obj: {
              html: { by: 'Lee', date: '1993' },
              css: { by: 'Lie', date: '1996' },
              git: { by: 'Linus', date: '2005' },
            },
          },
        });
      </script>
    </main>

    <!--- Code for display-->
    <pre class="code-display">
      &lt;div id="app">
        &lt;ul>
          &lt;li <span class="hl">v-for="(item, i) in items"</span>>[{{i}}] {{item}}&lt;/li>
          &lt;li>&lt;span <span class="hl">v-for="n in 5" v-if="n != 3"</span>>{{n}} &lt;/span>&lt;/li>
        &lt;/ul>

        &lt;template <span class="hl">v-for="(val, key) in obj"</span>>
          &lt;label>{{ key }}&lt;/label>
          &lt;span>&#10140; Created by {{val.by}} in {{val.date}}.&lt;/span>
          &lt;br />
        &lt;/template>
      &lt;/div>

      &lt;script>
        var app = new Vue({
          el: '#app',
          data: {
            items: ['Lee', 'Lie', 'Linus'],
            obj: {
              html: { by: 'Lee', date: '1993' },
              css: { by: 'Lie', date: '1996' },
              git: { by: 'Linus', date: '2005' },
            },
          },
        });
      &lt;/script>
    </pre>

    <script src="main.js"></script>
  </body>
</html>
