<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="main.css" />
    <script src="https://unpkg.com/vue@2"></script>
  </head>
  <body>
    <header><h1>For</h1></header>
    <main>
      <div id="app">
        <ul>
          <li v-for="(item, i) in items">[{{i}}] {{item}}</li>
          <li><span v-for="n in 5" v-if="n != 3">{{n}} </span></li>
        </ul>

        <template v-for="(val, key) in obj">
          <label>{{ key }}</label>
          <span>&#10140; Created by {{val.by}} in {{val.date}}.</span>
          <br />
        </template>
      </div>

      <script>
        var app = new Vue({
          el: '#app',
          data: {
            items: ['Lee', 'Lie', 'Linus'],
            obj: {
              html: { by: 'Lee', date: '1993' },
              css: { by: 'Lie', date: '1996' },
              git: { by: 'Linus', date: '2005' },
            },
          },
        });
      </script>
    </main>

    <!--- Code for display-->
    <pre class="code-display">Put something here</pre>

    <div class="next-lesson">
      <a href="computed.html">Next &#10140; Computed</a>
    </div>
    <script src="main.js"></script>
  </body>
</html>
