<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="main.css" />
    <script src="https://unpkg.com/vue@2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="next-lesson">
      <a href="content.html">Next &#10140; Content</a>
    </nav>
    <header>
      <h1>Form</h1>
      <p>
        Bindings can be made bidirectional with
        <span class="code-inline">v-model</span>. Based upon the type of <span class="code-inline">input</span> element,
        the model binding with generated different values.
      </p>
    </header>
    <main>
      <div id="app">
        <fieldset>
          <legend>Action</legend>
          <template v-for="action in actions">
            <input type="radio" v-bind:id="action" v-bind:value="action" v-model="pAction" />
            <label v-bind:for="action">{{action}}</label>
          </template>
        </fieldset>

        <fieldset>
          <legend>State</legend>
          <template v-for="state in states">
            <input type="checkbox" v-bind:id="state" v-bind:value="state" v-model="pStates" />
            <label v-bind:for="state">{{state}}</label>
          </template>
        </fieldset>

        <fieldset>
          <legend>Rating</legend>
          <select v-model="pRating">
            <option v-for="rating in ratings">{{rating}}</option>
          </select>
        </fieldset>

        <fieldset>
          <legend>Comment</legend>
          <input v-model="comment" />
        </fieldset>

        <p class="hlb">
          <span v-if="pStates && pRating && pAction">
            I {{pAction}} {{pStates.join(' and ')}} because of the {{pRating}} rating. {{comment}}
          </span>
          <span v-else>pending...</span>
        </p>
      </div>

      <script>
        var app = new Vue({
          el: '#app',
          data: {
            comment: '',
            actions: ['plan to visit', 'have visited', 'will avoid'],
            states: ['Utah', 'New York', 'Texas', 'Iowa'],
            ratings: ['Awesome', 'Good', 'OK'],
            pStates: [],
            pRating: '',
            pAction: '',
          },
        });
      </script>
    </main>

    <!--- Code for display-->
    <pre class="code-display">
&lt;div id="app">
  &lt;fieldset>
    &lt;legend>Action&lt;/legend>
    &lt;template v-for="action in actions">
      <span class="hl">&lt;input type="radio" 
        v-bind:id="action" v-bind:value="action" v-model="pAction" /></span>
      &lt;label v-bind:for="action">{{action}}&lt;/label>
    &lt;/template>
  &lt;/fieldset>

  &lt;fieldset>
    &lt;legend>State&lt;/legend>
    &lt;template v-for="state in states">
      <span class="hl">&lt;input type="checkbox" 
        v-bind:id="state" v-bind:value="state" v-model="pStates" /></span>
      &lt;label v-bind:for="state">{{state}}&lt;/label>
    &lt;/template>
  &lt;/fieldset>

  &lt;fieldset>
    &lt;legend>Rating&lt;/legend>
    &lt;select v-model="pRating">
      <span class="hl">&lt;option v-for="rating in ratings">{{rating}}&lt;/option></span>
    &lt;/select>
  &lt;/fieldset>

  &lt;fieldset>
    &lt;legend>Comment&lt;/legend>
    <span class="hl">&lt;input v-model="comment" /></span>
  &lt;/fieldset>

  &lt;p class="hlb">
    &lt;span v-if="pStates && pRating && pAction">
      I {{pAction}} {{pStates.join(' and ')}} because of the {{pRating}}
      rating. {{comment}}
    &lt;/span>
    &lt;span v-else>pending...&lt;/span>
  &lt;/p>
&lt;/div>

&lt;script>
  var app = new Vue({
    el: '#app',
    data: {
      comment: '',
      actions: ['plan to visit', 'have visited', 'will avoid'],
      states: ['Utah', 'New York', 'Texas', 'Iowa'],
      ratings: ['Awesome', 'Good', 'OK'],
      pStates: [],
      pRating: '',
      pAction: '',
    },
  });
&lt;/script>      
    </pre>
    <script src="main.js"></script>
  </body>
</html>
