<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="main.css" />
    <script src="https://unpkg.com/vue@2"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="next-lesson">
      <a href="lifecycle.html">Next &#10140; Lifecycle</a>
    </nav>
    <header>
      <h1>Watcher</h1>
      <p>
        Watching a Vue instance data item will notify you when the data changes.
      </p>
    </header>
    <main>
      <div id="app">
        <p>Path: <input v-model="input" /></p>
        <p>Security Log:</p>
        <div class="hlb" v-for="entry in securityLog">{{entry}}</div>
      </div>

      <script>
        var app = new Vue({
          el: '#app',
          data: {
            input: '',
            securityLog: [],
          },
          watch: {
            input: function (newInput, oldInput) {
              if (/(^\/|\.\.\/)/.test(newInput)) {
                this.securityLog.push(newInput);
              }
            },
          },
        });
      </script>
    </main>

    <!--- Code for display-->
    <pre class="code-display">
&lt;div id="app">
  &lt;p>Path: &lt;input <span class="hl">v-model="input"</span> />&lt;/p>
  &lt;p>Security Log:&lt;/p>
  &lt;div class="hlb" v-for="entry in securityLog">{{entry}}&lt;/div>
&lt;/div>

&lt;script>
  var app = new Vue({
    el: '#app',
    data: {
      input: '',
      securityLog: [],
    },
    <span class="hl">watch</span>: {
      <span class="hl">input</span>: function (newInput, oldInput) {
        if (/(^\/|\.\.\/)/.test(newInput)) {
          this.securityLog.push(newInput);
        }
      },
    },
  });
&lt;/script>
    </pre>

    <script src="main.js"></script>
  </body>
</html>
