<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="styles.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div id="app">
    <h1>A List of Things To Do</h1>
    <p v-if="activeTodos.length === 0">You are done with all your tasks! Good job!</p>
    <p v-else>You have {{activeTodos.length}} tasks remaining</p>
    <form v-on:submit.prevent="addItem">
      <input type="text" v-model="message" />
      <button type="submit" :disabled="message === ''">Add</button>
    </form>
    <div class="controls">
      <button @click="showAll()">Show All</button>
      <button @click="showActive()">Show active</button>
      <button @click="showCompleted()">Show completed</button>
      <button @click="markAllCompleted()">Mark all completed</button>
      <button @click="deleteCompleted()">Delete completed</button>
    </div>
    <ul>
      <li
        v-for="item in filteredTodos"
        draggable="true"
        v-on:dragstart="dragItem(item)"
        v-on:dragover.prevent
        v-on:drop="dropItem(item)"
      >
        <input type="checkbox" v-model="item.completed" />
        <span v-bind:class="{ completed: item.completed }" class="todo"> {{ item.text }} </span>
        <button @click="deleteItem(item)" class="delete">X</button>
      </li>
    </ul>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js"></script>
</body>
