body {
  background: #fafad2;
  font-family: Arial, Helvetica, sans-serif;
}

.todo {
  border: solid thin black;
  padding: 0.5em 0.5em;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.todo:hover {
  background-color: gray;
  cursor: grab;
}

.todo:focus {
  background-color: blue;
}

li {
  list-style-type: none;
}
