.date {
  font-weight: bold;
  color: #70b8c9;
  padding-bottom: 0.5em;
}

.time {
  color: #6661b5;
  text-align: center;
}

.temperature {
  color: #9c9cb3;
  text-align: center;
}

.timeCol {
  border: solid #dddddd 1px;
  margin: 1em;
  border-radius: 10px;
}

.col {
  max-width: 75px !important;
  min-width: 75px;
  min-height: 100px;
}

header {
  height: 800px;
}

footer {
  height: 60px;
  background: red;
}
main {
  overflow: scroll;
  height: calc(100vh - 114px);
}
