body {
  background: #fafad2;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  border-bottom: solid thin black;
}

li i {
  color: rgb(2, 0, 148);
}

li b {
  color: green;
}

.failure {
  color: rgb(128, 0, 0);
}
