@import url(//fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  background: #414657;
  color: #efefef;
  margin: 0.5em;
}

h1 {
  color: #d4c46a;
}

h2 {
  color: #9a96b4;
}

ul {
  padding: 0;
  width: 100%;
}

li {
  list-style-type: none;
  margin-left: 10px;
}

a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 300px;
  padding: 0.25em 0 0.25em 0.5em;
  margin: 5px;
  text-align: left;
  line-height: 2.5em;
  color: #c0bebe;
  border-radius: 5px;
}

a:link,
a:visited,
a:focus {
  background: #aa6f39;
}

a:hover {
  background: #804815;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-auto-rows: minmax(100px, auto);
}

.grid-box {
  background: #16162b;
  padding: 0 1em;
  border-radius: 5px;
  margin: 1em;
}
