<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>XKCD Browser</title> 
  </head>

  <body>
    <h1>XKCD Browser</h1>
    <div id="app">
      <div v-if="loaded">
        <p>
          <button @click="firstComic">First</button>
          <button :disabled="!hasPrevious()" @click="previousComic">
            Previous
          </button>
          <button :disabled="!hasNext()" @click="nextComic">Next</button>
          <button @click="lastComic">Last</button>
          <button @click="randomComic">Random</button>
        </p>
        <h2>{{current.title}}</h2>
        <img :src="current.img" :alt="current.alt" />
        <p>{{current.alt}}</p>
        <p>
          <i>#{{current.num}}, drawn on {{current.date}}</i>
        </p>
        <star-rating @rating-selected="addRating" :rating="starRating" :show-rating=false :active-color="['#a74444']" :increment=0.5></star-rating>    
        <h3>Add a Comment</h3>
        <form v-on:submit.prevent="addComment">
          <input v-model="addedName" placeholder="Name"></p>
          <textarea v-model="addedComment"></textarea>
          <br />
          <button type="submit">Comment</button>
        </form>
        <h3>Comments</h3>
        <div v-for="comment in comments[current.num]">
          <hr>
          <p>{{comment.text}}</p>
          <p>{{comment.date}}</p>
          <p><i>-- {{comment.author}}</i></p>
        </div>
      </div>
      <div v-else>Loading...</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://unpkg.com/vue-star-rating/dist/VueStarRating.umd.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
