* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #302c2a;
}

header {
  margin-top: 4em;
  color: #eaebc0;
}

nav {
  background-color: rgba(226, 153, 58, 0.8);
  color: #543105;
  padding: 0.5em;
  margin-bottom: 1em;
}
main {
  background-color: rgb(116, 114, 29);
  padding: 1em;
}

article {
  background-color: rgb(224, 235, 165);
}

aside {
  background-color: #919b0d;
  color: #f7f7db;
}

.content-holder {
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
}

.content-heading {
  margin-top: 0;
}
